
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reviewing Books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% block navbar %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <h5 style="color:white;">Welcome {{user["user_name"]}}</h5>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <button class="btn btn-dark"><a href="{{ url_for('signin')}}" class="nav-link">Dashboard</a></button>
      <button class="btn btn-dark"><a href="{{ url_for('logout')}}" class="nav-link"><span class="glyphicon glyphicon-user"></span> Log Out</a></button>
    </ul>
  </div>
</nav>  
{% endblock %}

{% block form %}
{% endblock %}

{% block table %}
{% endblock %}
</body>
</html>
