{% extends "book/layout.html" %}

{% block form %}    
  
<div class="container">
  <div class="row" style="padding:7px">
   <h2 style="padding:5px"><span class="badge badge-lite">Here! You Can Search Books</span></h2>
 <form class="form-inline" action="{{url_for('isbnbook')}}" method="post">
  	  <label for="pwd2" class="mb-2 mr-sm-2">Search As:</label>
	  <select name="bktype" class="custom-select">
    <option value="title" selected="">Title</option>
    <option value="isbn">ISBN</option>
    <option value="author">Author</option>
    </select>
    <label for="" class="mb-2 mr-sm-2" style="margin-left:10px">Book#:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="" placeholder="Enter Book #" name="bk">  
    <div class="form-check mb-2 mr-sm-2">
    </div>    
    <button type="submit" class="btn btn-primary mb-2">Search</button>
  </form>
  </div> 
</div>
</body>
</html>
{% endblock %}